{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

sudo bash <<EOF
mkdir -p /etc/1password
echo zen-browser >/etc/1password/custom_allowed_browsers
chown root:root /etc/1password/custom_allowed_browsers
chmod 755 /etc/1password/custom_allowed_browsers
EOF
ln -s ~/.mozilla/native-messaging-hosts ~/.zen/native-messaging-hosts
{{- end -}}
