{{- if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash

{{ $root := . }}{{ range $m, $_ := $root.packageManagers -}}
xargs {{ .command }} {{ .args | join " " }} <<EOF
{{ range $pkg := keys (index $root $m) }}{{ $pkg }}
{{ end }}EOF
{{ end -}}
{{- end -}}
{{- /*
vim: filetype=sh.gotmpl
*/}}
