{{- if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash

{{ includeTemplate "utils.sh" . }}

{{ range $m, $_ := .packageManagers -}}
xargs {{ .command }} {{ .args | join " " }} < <(
    qq --raw-output {{ printf ".%s | keys[]" $m | squote }} "$PACKAGESPREFIX"/{{ $m }}.toml
)
{{ end -}}
{{- end -}}
{{- /*
vim: filetype=sh.gotmpl
*/}}
