{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash

{{ includeTemplate "utils.sh" . }}

git --version >/dev/null 2>&1 || {
    emit w 'git is not yet installed. Clone vaults manually later' 0
}

vaults=(
    Splunk_Cloud_Support
    Codice
    Meta_Work
)

VAULTSDIR={{ .vaultsDir }}

[[ -d $VAULTSDIR ]] || mkdir -p "$VAULTSDIR"

for vault in "${vaults[@]}"; do
    if [[ -d ${VAULTSDIR}/$vault ]]; then
        rm -rf "${VAULTSDIR}/$vault"
    fi
    (
        change-dir "$VAULTSDIR"
        git clone "https://github.com/LeonardoMor/${vault}.git"
    )
done
{{ end -}}
{{/*
vim: filetype=sh.gotmpl
*/}}
