{{- if eq .chezmoi.os "windows" -}}
try {
    bat cache --build
} catch {
    Write-Host "Error: $_"
}

try {
    if (-not (gh auth status)) {
        gh auth login
    }
} catch {
    Write-Host "Error: $_"
}

try {
    node --version
} catch {
    nvm install latest
    nvm use latest
}
{{ end -}}
