encryption = "gpg"
[gpg]
    recipient = "leomc145@gmail.com"

[edit]
    command = "nvim"

[merge]
    command = "nvim"
    args = ["-d", {{ print "{{.Destination}}" | quote }}, {{ print "{{.Source}}" | quote }}, {{ print "{{.Target}}" | quote }}]

[git]
    autoPush = true
    commitMessageTemplate = {{ print "{{ promptString \"Commit message\" }}" | quote }}

[data]
    name = "Leonardo Mora Castro"
{{- if eq .chezmoi.hostname "worklaptop"}}
    email = "lmoracas@cisco.com"
{{- else}}
    email = "leomc145@gmail.com"
{{- end}}
    work_host = "worklaptop"
{{- if eq .chezmoi.osRelease.id "arch" }}
    install_cmd = "paru --sync --needed"
{{- else if eq .chezmoi.osRelease.id "ubuntu" }}
    install_cmd = "sudo apt-get -y install"
{{ end }}
{{- if eq isExecutable "/opt/homebrew/bin/brew" }}
    homebrew = "/opt/homebrew/bin/brew"
{{- else if isExecutable "/usr/local/bin/brew" }}
    homebrew = "/usr/local/bin/brew"
{{- else if isExecutable "/home/linuxbrew/.linuxbrew/bin/brew" }}
    homebrew = "/home/linuxbrew/.linuxbrew/bin/brew"
{{- end}}
