pager = "bat -pp --language diff"
encryption = "gpg"
[gpg]
    recipient = "leomc145@gmail.com"

[hooks.read-source-state.pre]
    command = "{{ .chezmoi.sourceDir }}/.chezmoiscripts/{{ .chezmoi.os }}/.prereqs.sh"

[edit]
    command = "nvim"

[merge]
    command = "nvim"
    args = ["-d", {{ print "{{.Destination}}" | quote }}, {{ print "{{.Source}}" | quote }}, {{ print "{{.Target}}" | quote }}]

[git]
    autoPush = true
    commitMessageTemplate = {{ print "{{ promptString \"Commit message\" }}" | quote }}

[data]
    name = "Leonardo Mora Castro"
{{- if eq .chezmoi.hostname "worklaptop"}}
    email = "lmoracas@cisco.com"
{{- else}}
    email = "leomc145@gmail.com"
{{- end}}
    work_host = "LMORACAS-M-D6L6"
{{- if eq .chezmoi.osRelease.id "arch" }}
    install_cmd = "paru --noconfirm --sync --needed"
{{- else if eq .chezmoi.osRelease.id "ubuntu" }}
    install_cmd = "sudo apt-get -y install"
{{ end }}
{{- if isExecutable "/opt/homebrew/bin/brew" }}
    brew_prefix = "/opt/homebrew"
{{- else if isExecutable "/usr/local/bin/brew" }}
    brew_prefix = "/usr/local"
{{- else if isExecutable "/home/linuxbrew/.linuxbrew/bin/brew" }}
    brew_prefix = "/home/linuxbrew/.linuxbrew"
{{- else }}
    brew_prefix = ""
{{- end -}}
{{/*- XDG spec variables */}}
    XDG_CONFIG_HOME = "{{ .chezmoi.homeDir }}/.config"
    XDG_CACHE_HOME = "{{ .chezmoi.homeDir }}/.cache"
    XDG_DATA_HOME = "{{ .chezmoi.homeDir }}/.local/share"
    XDG_STATE_HOME = "{{ .chezmoi.homeDir }}/.local/state"
    XDG_DATA_DIRS = "/usr/local/share:/usr/share"
    XDG_CONFIG_DIRS = "/etc/xdg"
