{{- if lookPath "bat" -}}
pager = "bat -pp --language diff"
{{ end }}

{{- if not (eq .chezmoi.os "windows") }}
[hooks.read-source-state.pre]
    command = {{ joinPath .chezmoi.sourceDir ".chezmoiscripts" .chezmoi.os ".prereqs.sh" | quote }}

[cd]
    command = "bash"
    args = ["--login"]
{{- else }}
[hooks.read-source-state.pre]
    command = "powershell"
    args = ["-NoLogo", "-NoProfile", "-File", {{ joinPath .chezmoi.sourceDir ".chezmoiscripts" .chezmoi.os ".prereqs.ps1" | quote }}]

[cd]
    command = {{ or (lookPath "pwsh") (lookPath "powershell") | quote }}
    args = ["-NoLogo"]
{{- end }}

[edit]
    command = "nvim"

[merge]
    command = "nvim"
    args = [
        {{ print "{{.Destination}}" | quote }},
        {{ print "{{.Source}}" | quote }},
        {{ print "{{.Target}}" | quote }}
    ]

[git]
    autoPush = true
    commitMessageTemplate = {{ print "{{ promptString \"Commit message\" }}" | quote }}

[data]
    work_host = "LMORACAS-M-D6L6"
    name = "Leonardo Mora Castro"
{{- if eq .chezmoi.hostname "LMORACAS-M-D6L6" }}
    email = "lmoracas@cisco.com"
{{- else }}
    email = "leomc145@gmail.com"
{{- end }}
{{- if eq .chezmoi.os "windows" }}
    DocumentsDir = {{ joinPath .chezmoi.homeDir "OneDrive" "Documents" | quote }}
{{- else }}
    DocumentsDir = {{ joinPath .chezmoi.homeDir "Documents" | quote }}
{{- end }}
{{- if not (eq .chezmoi.os "windows") }}
{{/* XDG spec variables */}}
    XDG_CONFIG_HOME = "{{ .chezmoi.homeDir }}/.config"
    XDG_CACHE_HOME = "{{ .chezmoi.homeDir }}/.cache"
    XDG_DATA_HOME = "{{ .chezmoi.homeDir }}/.local/share"
    XDG_STATE_HOME = "{{ .chezmoi.homeDir }}/.local/state"
    XDG_DATA_DIRS = "/usr/local/share:/usr/share"
    XDG_CONFIG_DIRS = "/etc/xdg"

    brew_prefix = "/opt/homebrew"
{{- if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.osRelease.id "arch" }}
    install_cmd = "paru --noconfirm --sync --needed"
{{- else if eq .chezmoi.osRelease.id "ubuntu" }}
    install_cmd = "sudo apt-get -y install"
{{- end }}
{{- end }}
{{- end }}
