#
# ~/.profile
#
# Keep it POSIX-compliant

# Set variables
#   Set PATH
prepend2PATH() {
    echo ":${PATH}:" | grep -q ":${1}:" || if [ -d "$1" ]; then PATH="${1}:${PATH}"; fi
}

for p in "${HOME}/.bin" "${HOME}/.local/bin" "${HOME}/bin"; do
    prepend2PATH "$p"
done
{{- if eq .chezmoi.os "darwin" }}
prepend2PATH "{{ .brewPrefix }}/opt/gnu-getopt/bin"
{{- end }}

#   Set environment
{{- with $environ := includeTemplate "environment" . | splitList "\n" }}
{{- range (prepend $environ "PATH") }}
{{- if . }}
{{ printf "export %s" . }}
{{- end }}
{{- end }}
{{- end }}

for d in "$XDG_CONFIG_HOME" "$XDG_CACHE_HOME" "$XDG_DATA_HOME" "$XDG_STATE_HOME"; do
    mkdir -p "$d"
done

{{/* Default value for nvm script */ -}}
{{ $nvmsh := joinPath .brewPrefix "opt" "nvm" "nvm.sh" -}}
{{ if eq .chezmoi.os "darwin" -}}
# Set brew
if {{ printf "%s/bin/brew" .brewPrefix }} --version >/dev/null 2>&1; then
    # Reference: https://stackoverflow.com/a/65980738/7830232
    eval {{ printf "$(%s/bin/brew shellenv)" .brewPrefix | quote }}
fi
{{- else if eq .chezmoi.osRelease.idLike "arch" }}
{{/*
TODO: set nvm properly on Arch Linux
*/}}
{{- end }}

# Set nvm
if [ -n "$NVM_DIR" ] && [ -s {{ $nvmsh | quote }} ]; then
    . {{ $nvmsh | quote }}
fi

{{- /*
vim: filetype=sh.gotmpl
*/}}
