return {
  'epwalsh/obsidian.nvim',
  version = '*',
  lazy = true,
  dependencies = {
    'nvim-lua/plenary.nvim',
  },
  opts = {
    workspaces = {
      {
        name = 'Codice',
        path = os.getenv 'HOME' .. '/source/repos/Codice',
      },
    },
    completion = {
      nvim_cmp = true,
      min_chars = 2,
    },
    ui = { enable = false },
    event = function()
      local events = {}
      vim.list_extend(
        events,
        vim.tbl_map(function(workspace)
          return 'BufNewFile' .. workspace.path .. '/**'
        end, opts.workspaces)
      )
      vim.list_extend(
        events,
        vim.tbl_map(function(workspace)
          return 'BufReadPre ' .. workspace.path .. '/**'
        end, opts.workspaces)
      )
    end,
  },
  -- config = function()
  --   vim.api.nvim_create_autocmd('FileType', {
  --     desc = 'Markdown Conceal for Obsidian vault files',
  --     group = vim.api.nvim_create_augroup('MarkdownConceal', { clear = true }),
  --     pattern = 'markdown',
  --     callback = function()
  --       local path = vim.fn.expand '%:p'
  --       if string.match(path, '^' .. vim.fn.expand '~/source/repos/Codice' .. '/') then
  --         vim.opt_local.conceallevel = 2
  --       end
  --     end,
  --   })
  -- end,
}
