theme = tokyonight
mouse-hide-while-typing = true
background-opacity = 0.9
{{- if eq .chezmoi.os "darwin" }}
command = {{ joinPath .brew_prefix "bin" "bash" }} --login
macos-option-as-alt = true
{{- else }}
command = bash --login
{{- end }}
window-save-state = always
keybind = ctrl+backspace=text:\x17
