meta {
    title "CachyOS workstation"
}

backends {
    "backends/paru.kdl"
    "backends/npm.kdl"
    "backends/pipx.kdl"
}

imports {
    "modules/all.kdl"
    "modules/cachyos.kdl"
}

hooks {
    on-success "declarch-commit" --required
}

experimental {
    "enable-hooks"
}

policy {
    require_backend "true"
    forbid_hooks "false"
    on_duplicate "error"
    on_conflict "error"
    orphans "remove"
}
