{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash

source -p ~/bin utils.sh

NAME="$(basename "$0")"
TERMINATE=true
TMPPACKAGES="/tmp/$(date +%s).packages.toml"

if [[ $1 =~ ^(upgrade|update)$ ]]; then
    {{- range .packageManagers }}
    {{- if .update }}{{ .command }} {{ block "toShArgs" .update }}{{ . | join " " }}{{ end }}{{ end }}
    {{ .command }} {{ template "toShArgs" .upgrade }}
    {{- end }}
    xargs mpm <<EOF
{{- range .packageManagers | keys }}
{{ printf "--no-%s" . }}
{{- end }}
upgrade
EOF
else
    mpm "$@"
fi

if [[ $1 =~ ^(install|upgrade|update|remove|uninstall)$ ]]; then
    TERMINATE=false
fi

if $TERMINATE; then
    exit $?
fi

mpm cleanup
mpm backup --overwrite "$TMPPACKAGES"

for m in "${MANAGERS[@]}"; do
    qq --output toml "{$m}" "$TMPPACKAGES" >"$PACKAGESPREFIX/${m}.toml"
done

chezmoi git add .
if [[ $1 =~ ^(upgrade|update)$ ]]; then
    chezmoi git commit -- -m 'chore: update packages' || emit i "Probably no changes to commit"
else
    chezmoi git commit || emit i "Probably no changes to commit"
fi

if [[ $(chezmoi git -- branch --show-current) == master ]]; then
    chezmoi git push origin master
fi
{{- end -}}
{{/*
vim: filetype=sh.gotmpl
*/}}
