{{- if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash

~/bin/decl sync upgrade --no-sync || exit 1
~/bin/decl sync --hooks || exit 1

{{- if eq .osid "darwin" }}

# Update ble.sh in macOS
BLESH_PATH=~/.local/share/blesh
bash "${BLESH_PATH}/ble.sh" --update
{{- end }}
{{- end }}

{{- /*
vim: filetype=sh.gotmpl
*/}}
