{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

INFINITY='192.168.100.7'

ssh leo@"$INFINITY" 'XDG_RUNTIME_DIR="/run/user/$(id -u)" WAYLAND_DISPLAY=wayland-1 wtype -k Shift_L' &&
    open -a Moonlight --args stream 192.168.100.7 Desktop
{{ end -}}
{{/*
vim: filetype=sh.gotmpl
*/ -}}
