{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash

NAME="$(basename "$0")"

source -p ~/bin/utils

help() {
    cat <<EOF
Usage:
    $NAME SUBCOMMAND [OPTIONS] [ARGUMENT...]

Subcommands:
    help
        Show this help message and exit.
    install
        Install one or more packages with a specific backend.
    uninstall
        Uninstall one or more packages with a specific backend.
    update|upgrade
        Run metapac update-all.

Examples:
    $NAME help
    $NAME install --backend paru ripgrep
    $NAME uninstall -b pipx vdf2json
    $NAME update

Use '$NAME SUBCOMMAND [--help|-h]' for specific help.
EOF
}

{{- end -}}
{{/*
vim: filetype=sh.gotmpl
*/}}
