{{- if eq .chezmoi.hostname "infinity" -}}
#!/usr/bin/env bash

(($# > 0)) || exit 1

EXECUTABLE="$1"
LOCKFILE="/tmp/screensaver.lock"

exit-screensaver() {
    pkill --exact "$EXECUTABLE"
    pkill --full "$(</tmp/screensaver_cmd)"
    hyprctl dispatch focusmonitor "$(</tmp/focused)"
    rm -f "$LOCKFILE"
}

trap exit-screensaver EXIT SIGINT SIGTERM SIGHUP SIGQUIT

sleep 0.5
"$@"
{{- end -}}

{{/*
vim: filetype=sh.gotmpl
*/}}
