#!/usr/bin/env bash

{{- if eq .osid "linux-cachyos" }}
source "$HOME/bin/utils.sh" || exit 1

declarch sync --yes --hooks update || emit f 'Failed to update packages with Declarch' 1
{{- end }}

{{- if eq .osid "darwin" }}

# Update ble.sh in macOS
BLESH_PATH=~/.local/share/blesh
bash "${BLESH_PATH}/ble.sh" --update
{{- end }}

{{- /*
vim: filetype=sh.gotmpl
*/}}
