{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

set -x

FIXEDWRAPPERS=(
    game-performance
    prime-run
)

pre() {
    #    local hyprgamemode
    #    hyprgamemode="$(hyprctl -j getoption animations:enabled | jq -r '.set')"
    #    if $hyprgamemode; then
    #        hyprctl --batch "\
    #            keyword animations:enabled 0; \
    #            keyword animation borderangle,0: \
    #            keyword decoration:shadow:enabled 0;\
    #            keyword decoration:blur:enabled 0;\
    #            keyword decoration:fullscreen_opacity 1;\
    #            keyword general:gaps_in 0;\
    #            keyword general:gaps_out 0;\
    #            keyword general:border_size 1;\
    #            keyword decoration:rounding 0"
    #    fi
    systemctl --user stop kanata.service
    hyprctl dispatch exec -- \
        qs ipc call notification setDnD true
}

main() {
    trap post EXIT INT TERM

    local -a cmd=("${FIXEDWRAPPERS[@]}")
    cmd+=(
        scopebuddy
        --
        "$@"
    )
    "${cmd[@]}"
}

post() {
    systemctl --user start kanata.service
    hyprctl reload
    hyprctl dispatch exec -- \
        qs ipc call notification setDnD false
}

pre
main "$@"
{{- end -}}

{{/*
vim: filetype=sh.gotmpl
*/}}
