{{- if eq .chezmoi.hostname "infinity" -}}
#!/usr/bin/env bash

SCREENSAVER_CLASS="Screensaver"
LOCKFILE="/tmp/screensaver.lock"

[[ -f $LOCKFILE ]] && exit 0

(($# > 0)) || {
    echo "No arguments provided" >&2
    exit 1
}

touch "$LOCKFILE"

declare -a CMD=(
    kitty
    --class "$SCREENSAVER_CLASS"
    --start-as fullscreen
    -e screensaver-cmd "$@"
)

echo "${CMD[@]}" >/tmp/screensaver_cmd
MONITORS="$(hyprctl monitors -j | jq 'sort_by(.name)')"
FOCUSED="$(jq --raw-output '.[] | select(.focused == true).name' <<<"$MONITORS" | tee /tmp/focused)"

get-next-monitor() {
    jq --arg monitor "$1" --raw-output 'map(.name) as $monitors | ($monitors | index($monitor)) as $index | $monitors[($index + 1) % ($monitors | length)]' <<<"$MONITORS"
}

m="$(get-next-monitor "$FOCUSED")"
for ((i = 0; i < $(jq 'length' <<<"$MONITORS"); i++)); do
    hyprctl dispatch focusmonitor "$m"
    hyprctl dispatch exec -- "${CMD[@]}"
    m="$(get-next-monitor "$m")"
done

{{- end -}}

{{/*
vim: filetype=sh.gotmpl
*/}}
