{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

ssh infinity 'XDG_RUNTIME_DIR="/run/user/$(id -u)" WAYLAND_DISPLAY=wayland-1 wtype -k Shift_L' &&
    moonlight stream 192.168.100.7 Desktop
{{ end -}}
{{/*
vim: filetype=sh.gotmpl
*/ -}}
