{{- if eq .chezmoi.hostname "cachyos-inf" -}}
#!/usr/bin/env bash

exit-screensaver() {
    pkill -x cmatrix 2>/dev/null
    pkill -f 'kitty --start-as fullscreen --class Screensaver screensaver-cmd'
    exit 0
}

trap exit-screensaver EXIT SIGINT SIGTERM SIGHUP SIGQUIT

if pidof -q cmatrix; then
    exit 0
fi

sleep 0.5
exec cmatrix -s
{{- end -}}

{{/*
vim: filetype=jq.gotmpl
*/}}
