{{ if eq .chezmoi.os "darwin" -}}
{{   $packageManagerOptions := list -}}
{{   range .packageManagers | keys | sortAlpha -}}
{{     $packageManagerOptions = append $packageManagerOptions (printf "--%s" .) -}}
{{   end -}}
{{   $packageManagerOptionsString := $packageManagerOptions | join "|"   -}}
#!/usr/bin/env bash

source "$HOME/bin/utils.sh" || exit 1

NAME="$(basename "$0")"
TERMINATE=true
TMPPACKAGES="/tmp/$(date +%s).packages.toml"
OTHERPM=mpm
PACKAGESPREFIX={{ joinPath .chezmoi.sourceDir ".chezmoidata" | quote }}
MANAGERS=()

help() {
    cat <<EOF
Usage:
    $NAME [OPTION] [PACKAGE[ PACKAGE...]]

Options:
    {{ $packageManagerOptionsString }}
        Use the system package managers.
    --update|-u
        Update all packages.
        Packages not managed by the system package managers will be updated with ${OTHERPM}.
    --$OTHERPM
        Use ${OTHERPM}.
    --help|-h
        Show this help and exit.
    
Changes to packages are tracked by chezmoi.
EOF
}

post() {
    local managers_json manager_ids manager

    managers_json="$("$OTHERPM" --table-format json managers)" || emit f "Failed to query package managers with $OTHERPM" 1
    manager_ids="$(jq --raw-output 'keys[]' <<<"$managers_json")" || emit f "Failed to parse package managers from $OTHERPM" 1

    while IFS= read -r manager; do
        [[ -z $manager ]] || MANAGERS+=("$manager")
    done <<<"$manager_ids"
    ((${#MANAGERS[@]} > 0)) || emit f "No package managers found" 1

    "$OTHERPM" cleanup || emit f "Failed to clean up packages with $OTHERPM" 1
    "$OTHERPM" backup --overwrite "$TMPPACKAGES" || emit f "Failed to back up packages with $OTHERPM" 1

    for m in "${MANAGERS[@]}"; do
        qq --output toml "{$m}" "$TMPPACKAGES" >"$PACKAGESPREFIX/${m}.toml" || emit f "Failed to record $m packages" 1
    done

    chezmoi git add .
    if (chezmoi git commit || emit i "Probably no changes to commit") && [[ $(chezmoi git -- branch --show-current) == master ]]; then
        chezmoi git push origin master
    fi
}

{{range $pm, $args := .packageManagers -}}
_{{ $pm }}() {
    {{ $args.command }} "$@" || emit f "Failed to run {{ $args.command }}" 1
    TERMINATE=false
}

{{ end -}}

update() {
{{ range $pm, $args := .packageManagers -}}
{{- if $args.update -}}
{{- block "indent" $args.command -}}
{{ printf "    %s" . }}
{{- end }} {{ includeTemplate "toShellArgs" $args.update }} || emit f "Failed to update with {{ $args.command }}" 1
{{ end -}}
{{ template "indent" $args.command }} {{ template "toShellArgs" $args.upgrade }} || emit f "Failed to upgrade with {{ $args.command }}" 1
{{ end -}}
{{- template "indent" "xargs mpm <<EOF" }}
{{ range .packageManagers | keys | sortAlpha -}}
{{ printf "--no-%s" . }}
{{ end -}}
upgrade
EOF
    [[ ${PIPESTATUS[0]} -eq 0 ]] || emit f "Failed to upgrade with $OTHERPM" 1
    TERMINATE=false
}

case $1 in
    {{ range .packageManagers | keys | sortAlpha -}}
    --{{ . }})
        shift
        _{{ . }} "$@"
        ;;
    {{ end -}}
    --update|-u)
        shift
        update
        ;;
    --"$OTHERPM")
        shift
        "$OTHERPM" "$@"
        ;;
    --help|-h)
        help
        exit 0
        ;;
    *)
        emit e "Bad usage."
        help
        exit 1
        ;;
esac

if $TERMINATE; then
    exit $?
fi
post

{{- end -}}
{{/*
vim: filetype=sh.gotmpl
*/}}
