{{- if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash

source -p ~ .profile

{{ if eq .chezmoi.os "darwin" -}}
{{ range $pm, $args := .packageManagers -}}
xargs {{ $args.command }} {{ template "toShellArgs" $args.install }} <<EOF
{{ index $ $pm | keys | sortAlpha | join "\n" }}
EOF
{{ end -}}
{{ else -}}
metapac sync --no-confirm || metapac sync --no-confirm || metapac sync --no-confirm
{{ end -}}
{{- end -}}
{{- /*
vim: filetype=sh.gotmpl
*/ -}}
