{{- if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash

{{ range $pm, $args := .packageManagers -}}
xargs {{ $args.command }} {{ $args.install | join " " }} <<EOF
{{ range (index $ $pm | keys | sortAlpha) -}}
{{ . }}
{{ end -}}
EOF
{{ end -}}
{{- end -}}
{{- /*
vim: filetype=sh.gotmpl
*/ -}}
