{{- if eq .osid "linux-cachyos" -}}
#!/usr/bin/env bash

set -euo pipefail

source "$HOME/.profile"

printf 'Installing the current Node.js Iron LTS release\n'
nvm install --lts=iron
nvm use --lts=iron
{{- end -}}
{{- /*
vim: filetype=sh.gotmpl
*/ -}}
