{{- if ne .osid "windows" -}}
#!/usr/bin/env bash

source -p ~/bin utils.sh || exit 1

set-system-package-manager
{{ if eq .chezmoi.os "darwin" -}}
_install pipx nvm || exit 1
{{ else -}}
_install python-pipx nvm || exit 1
{{ end -}}
source -p ~ .profile || exit 1
emit i 'Installing node Iron...'
nvm install --lts=iron || emit e 'Failed to install Node Iron' 1
nvm use --lts=iron || emit e 'Failed to select Node Iron' 1
command -v declarch >/dev/null || \
    bash {{ joinPath .chezmoi.sourceDir ".." ".bootstrap" "install-declarch.sh" | quote }} || exit 1
{{- end -}}
{{- /*
vim: filetype=sh.gotmpl
*/ -}}
