{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

# Based on https://support.1password.com/additional-browsers/?linux

if pidof -q 1password; then
    pkill 1password
fi

ZEN=zen-bin
OPDIR=/etc/1password
EXCEPTIONBROWSERS=custom_allowed_browsers
EXCEPTIONBROWSERSPATH=$OPDIR/$EXCEPTIONBROWSERS

sudo bash <<EOF
mkdir -p $OPDIR
echo $ZEN >$EXCEPTIONBROWSERSPATH
chown root:root $EXCEPTIONBROWSERSPATH
chmod 755 $EXCEPTIONBROWSERSPATH
EOF
{{- end -}}
