{
  "activeProfile": {
    "name": "default",
    "modifiedAt": "2025-07-28T02:07:37.220Z"
  },
  "profileUpdate": true,
  "profileUpdateDelay": 800,
  "uiUpdate": true,
  "uiUpdateInterval": 1000,
  "devices": {
    "0470a713032eee451a2a5713ba33c4068620fb2b98221eeab63ade49e99abfe3": "{{ .chezmoi.homeDir }}/.config/obsidian/Profiles"
  },
  "statusbarInteraction": {
    "click": "auto",
    "ctrl_click": "none",
    "shift_click": "none",
    "alt_click": "none"
  }
}
