{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

mpm --version >/dev/null 2>&1 || {
    echo "meta-package-manager is not installed"
    exit 1
}

PACKAGES={{ joinPath .chezmoi.sourceDir ".externally_modified" "mpm" (printf "%s.toml" .chezmoi.os) }}

mpm restore "$PACKAGES"
{{ end -}}
{{/*
vim: filetype=sh.gotmpl
*/}}
