theme = Black Metal (Venom)
mouse-hide-while-typing = true
shell-integration-features = true
window-height = 1000
window-width = 1000
{{- if eq .chezmoi.os "darwin" }}
background-opacity = 0.9
command = {{ joinPath .brewPrefix "bin" "bash" }} --login
macos-option-as-alt = true
keybind = alt+backspace=text:\x17
keybind = cmd+shift+o=toggle_background_opacity
{{- else }}
command = bash --login
keybind = ctrl+backspace=text:\x17
{{- end }}
