{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

systemctl --user stop kanata.service

export PROTON_NO_WM_DECORATION=1
export MANGOHUD=1

cmd=(prime-run game-performance)

if protonutils version >/dev/null 2>&1 && protonutils list --json | jq -e '.["proton-cachyos"].games["Marvel Rivals"].isInstalled == true' >/dev/null; then
    cmd+=(dlss-swapper)
fi

cmd+=("$@")

"${cmd[@]}"

systemctl --user start kanata.service
{{- end }}
