{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

systemctl --user stop kanata.service

cmd=(prime-run game-performance)

if [[ $* =~ "proton-cachyos" ]]; then
    cmd+=(dlss-swapper)
fi

cmd+=("$@")

(
    exec "${cmd[@]}"
)

systemctl --user start kanata.service
{{- end -}}

{{/*
vim: filetype=sh.gotmpl
*/}}
