#!/usr/bin/env bash

{{- if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.osRelease.id "arch" }}
# Complete system upgrade
paru -Syu
{{- end }}

# Update snaps
sleep 1
sudo snap refresh

# Update flatpaks
sleep 1
flatpak update -y
{{- else }}
brew upgrade
brew upgrade --cask --greedy

# Update ble.sh in macOS
BLESH_PATH=~/.local/share/blesh
bash "${BLESH_PATH}/ble.sh" --update
{{- end }}

# Update global npm modules
sleep 1
npm update -g
