local utils = require('custom.utils')

return {
{{ includeTemplate "nvim/lua/plugins/aerial.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/barbecue.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/blink.cmp.lua" . }},
{{ includeTemplate "nvim/lua/plugins/caps-word.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/cellular-automation.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/conform.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/cord.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/doing.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/gitsigns.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/guess-indent.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/indent_line.lua" . }},
{{ includeTemplate "nvim/lua/plugins/lazydev.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/lualine.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/luvit-meta.lua" . }},
{{ includeTemplate "nvim/lua/plugins/markdown.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/mason-tool-installer.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/maximize.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/neo-tree.lua" . }},
{{ if ne .chezmoi.hostname .workHost }}
{{     includeTemplate "nvim/lua/plugins/neocodeium.lua" .     }},
{{ end -}}
{{ includeTemplate "nvim/lua/plugins/neogen.lua" . }},
{{ includeTemplate "nvim/lua/plugins/lint.lua" . }},
{{ includeTemplate "nvim/lua/plugins/nvim-lspconfig.lua" . }},
{{ includeTemplate "nvim/lua/plugins/nvim-surround.lua" . }},
{{ includeTemplate "nvim/lua/plugins/nvim-tmux-navigation.lua" . }},
{{ includeTemplate "nvim/lua/plugins/nvim-treesitter-endwise.lua" . }},
{{ includeTemplate "nvim/lua/plugins/nvim-treesitter.lua" . }},
{{ includeTemplate "nvim/lua/plugins/nvim-ts-autotag.lua" . }},
{{ includeTemplate "nvim/lua/plugins/obsidian.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/stickybuf.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/telescope.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/termplug.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/todo-comments.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/tokyonight.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/transparent.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/trouble.lua" . }},
{{ includeTemplate "nvim/lua/plugins/ultimate-autopair.nvim.lua" . }},
{{ includeTemplate "nvim/lua/plugins/vim-fugitive.lua" . }},
{{ includeTemplate "nvim/lua/plugins/vim-obsession.lua" . }},
{{ includeTemplate "nvim/lua/plugins/vim-rsi" . }},
{{ includeTemplate "nvim/lua/plugins/vim-undodir-tree.lua" . }},
{{ includeTemplate "nvim/lua/plugins/which-key.nvim.lua" . }},
}

{{- /*
vim: filetype=lua.gotmpl
*/}}
