{{- if eq .monitorProfile "asus-vg248" -}}
monitor = desc:BOE 0x0AFB, highres@highrr, 1920x0, 1.6
monitor = desc:ASUSTek COMPUTER INC VG248, highres@highrr, 0x0, 1
{{- else if eq .monitorProfile "alienware" -}}
monitor = desc:BOE 0x0AFB, highres@highrr, 0x0, 1.6
monitor = desc:Dell Inc. AW2725D, highres@highrr, 1600x0, 1
{{- else -}}
monitor = desc:BOE 0x0AFB, highres@highrr, 0x0, 1.6
{{- end }}
{{- /* vim: filetype=hyprlang.gotmpl
*/ -}}
