{{ if eq .chezmoi.os "linux" -}}
{{     if eq .chezmoi.osRelease.id "cachyos"      -}}
#!/usr/bin/env bash

set -o errexit

source {{ joinPath .chezmoi.sourceDir ".chezmoiscripts" ".utils.sh" | quote }}

THEME_REPO="diegons490/cachy-grub-theme"

[[ -d ~/source/repos ]] || mkdir -p ~/source/repos

change_dir ~/source/repos
[[ -d ${THEME_REPO#*/} ]] || git clone "git@github.com:${THEME_REPO}.git"
change_dir "${THEME_REPO#*/}"
sudo bash install.sh
{{-     end -}}
{{- end -}}

{{/*
vim: filetype=sh.gotmpl
*/}}
