{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

{{ .update_cmd }}
xargs --no-run-if-empty {{ .install_cmd }} <<EOF
{{ range .packages.linux -}}
{{     .     }}
{{ end -}}
{{ if eq .chezmoi.osRelease.id "cachyos" -}}
{{     range .packages.cachyos -}}
{{         .         }}
{{     end -}}
{{ end -}}
EOF
{{ end -}}
