{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

# Track all packages: {{ include ".externally_modified/metapac/groups/all.toml" | sha256sum }}
# Track default packages: {{ include ".externally_modified/metapac/groups/default.toml" | sha256sum }}
# Track archdevtools packages: {{ include ".externally_modified/metapac/groups/archdevtools.toml" | sha256sum }}
{{ if eq .chezmoi.osRelease.id "cachyos" -}}
# Track cachyos packages: {{ include ".externally_modified/metapac/groups/cachyos.toml" | sha256sum }}
{{ end -}}
{{ .update_cmd }}
metapac sync
metapac clean
{{- end -}}

{{/*
vim: filetype=sh.gotmpl
*/}}
