#!/usr/bin/env bash

NAME="$(basename "$0")"

help() {
	cat <<EOF
Install packages if new packages were added.

usage: $NAME [-h]

options:
	-h	Show this message and exit
EOF
}

while getopts 'h' option; do
	case "$option" in
		h)
			help
			exit
			;;
		*)
			help >&2
			exit 1
			;;
	esac
done

{{ range .packages.linux -}}
{{.install_cmd}} {{ . }}
{{ end -}}
