{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

# Configure greetd
GREETD_CONFIG="/etc/greetd/config.toml"
current_default_session_command="$(dasel --in toml 'default_session.command' <"$GREETD_CONFIG" | tr -d "'")"

hyprcmd="agreety --cmd start-hyprland"

[[ $current_default_session_command == "$hyprcmd" ]] || {
    dasel --in toml --out toml "default_session.command = \"$hyprcmd\"" --root <"$GREETD_CONFIG" \
        | sudo tee "$GREETD_CONFIG.tmp" >/dev/null
    sudo mv "$GREETD_CONFIG.tmp" "$GREETD_CONFIG"
}

[[ $(findmnt -no SOURCE /) =~ luks ]] && {
    dasel --in toml --out toml 'initial_session.command = "start-hyprland"' --root <"$GREETD_CONFIG" \
        | dasel --in toml --out toml 'initial_session.user = "leo"' --root \
        | sudo tee "$GREETD_CONFIG.tmp" >/dev/null
    sudo mv "$GREETD_CONFIG.tmp" "$GREETD_CONFIG"
}
{{- end -}}
