{{ if eq .chezmoi.os "linux" -}}
{{     if eq .chezmoi.osRelease.id "cachyos"      -}}
#!/usr/bin/env bash

sudo plymouth-set-default-theme -R cachyos-bootanimation
{{-     end -}}
{{- end -}}

{{/*
vim: filetype=sh.gotmpl
*/}}
